PORT=5000
NODE_ENV=development

MONGO_URI=your_mongodb_uri
JWT_SECRET=super_secure_random_string
JWT_EXPIRES_IN=15m

TMDB_API_KEY=your_tmdb_key

EMAIL_USER=your_email
EMAIL_PASS=your_app_password
EMAIL_FROM=your_email

FRONTEND_URL=http://localhost:3000